.HomeAdminPage-container {
    display: flex;
  }
  
  
  .navigation {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .navigation ul {
    list-style-type: none;
    padding: 0;
  }
  
  
  .navigation ul li {
    margin: 10px 0;
  }
  
  
  .navigation .search-bar {
    margin: 20px 0;
  }
  
  
  .navigation .logout-button {
    margin-top: auto;
  }
  
  
  .navigation .logout-button button {
    width: 100%;
    padding: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  
  .content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .box {
    width: calc(33.3333% - 40px);
    margin: 10px;
    padding: 20px;
    background-color: #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .box h2 {
    margin-top: 0;
  }
  
  
  .box ul {
    list-style-type: none;
    padding: 0;
  }
  
  
  .box ul li {
    margin: 5px 0;
  }
  
  
  .box button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  